<h1>Lista de Posts</h1>



{{#each posts}}

    <h1>{{dataValues.titulo}}</h1>

    <p>{{dataValues.conteudo}}</p>
    <form action="/delete/{{dataValues.id}}" method="POST">
    <button type="submit">DELETAR</button>
    </form>
    <hr>

{{/each}}

<a href="/cad">Poste</a>